body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0px;
}
.h1part1 {
  font-size: 50px;
}
#name_color {
  color: orange;
}
section {
  margin-bottom: 150px;
}
.topsection {
  display: flex;
}
.left1 {
  width: 10%;
}
.middle1 {
  width: 40%;
  padding-left: 2%;
}
.topmidp {
  text-align: justify;
}
.right1 {
  width: 50%;
}
.right1 img {
  width: 100%;
}
.hireme_button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 30px;
  border-radius: 5px;
}

.middlesection {
  display: flex;
}

.left2 {
  width: 40%;
}
.middle2 {
  width: 50%;
  padding: 3%;
}
.right2 {
  width: 10%;
}
.right2 img {
  width: 100%;
}

.midcenp {
  text-align: justify;
}
.left2 img {
  width: 100%;
}
.h1part2 {
  font-size: 50px;
}
